:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size:  62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.gird{
    width: 1800px;
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
 display: flex;
 flex-wrap: wrap;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0 ;
    }
    to {
        opacity: 1 ;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.5s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    width: 500px;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.3s;
}

/* button style */
.btn{ 
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    font-size: 1.5rem;
    padding: 0 12px ;
    cursor: pointer;
    outline: none;
    color: var(--text-color);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05) ;
}

.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
    
}

.btn.btn--primary{ 
    color: var(--white-color);
    background-color: var(--primary-color);
}

.header_cart{
    width: 150px;
    text-align: center;
}

.header_cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
}