.header {
    height: 120px;
    background-image:  linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex ;
    justify-content: space-between;

}

.header__navbar-list {
    list-style: none;
    margin-top: 6px;  
}   

.header__navbar-item{
    min-height: 26px;
    margin: 0 8px;
    position: relative;
}

.header__navbar-item ,
.header__navbar-item-link{
    display : inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
} 

.header__navbar-item ,
.header__navbar-item-link,
.header__navbar-item-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover ,
.header__navbar-icon-link:hover ,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}


.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border: 1px solid #FB9086;
    right: -9px ;
    top: 50%;
    transform: translateY(-50%);

}
.header__navbar-icon {
    font-size:1.8rem;
    margin: 2px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}