.header {
    height: 120px;
    background-image:  linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex ;
    justify-content: space-between;

}

.header__navbar-list {
    list-style: none;
    margin-top: 6px;  
}   

.header__navbar-item{
    min-height: 26px;
    margin: 0 8px;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item ,
.header__navbar-item-link{
    display : inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
} 

.header__navbar-item ,
.header__navbar-item-link,
.header__navbar-item-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover ,
.header__navbar-icon-link:hover ,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}


.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border: 1px solid #FB9086;
    right: -9px ;
    top: 50%;
    transform: translateY(-50%);

}
.header__navbar-icon {
    font-size:1.8rem;
    margin: 2px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.4s ;

}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    top : -16px;
    left: 0;
    content: "";
    display: block;
 
}

.header__qr-img {
    width: 100%;

}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:last-child{
    margin-right: 11px;
}
.header__qr-download-img{
    height: 16px;
}

/* header notifycation */

.header__notify{
    position: absolute;
    top: 110%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top ;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width :  20px 30px;
    border-style:  solid ;
    border-color:  transparent transparent var(--white-color) transparent ;
    position: absolute;
    right: 12px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 90px;
    top: -15px;
    height: 20px;
   
}

.header__navbar-item--has--notify:hover .header__notify{
    display: block;
}

@keyframes headerNotifyGrowth{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px ;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin:  0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f5d4d4;
}

.header__notify-item--viewed{  
    background-color: rgba(238, 77, 45, 0.08);  
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.header__notify-desriotion{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 16px 26px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
}