.header {
    height: var(--header-height) ;
    background-image:  linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex ;
    justify-content: space-between;

}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}   

.header__navbar-item{
    min-height: 26px;
    margin: 0 8px;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item ,
.header__navbar-item-link{
    display : inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
} 

.header__navbar-item ,
.header__navbar-item-link,
.header__navbar-item-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover ,
.header__navbar-icon-link:hover ,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}


.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border: 1px solid #FB9086;
    right: -9px ;
    top: 50%;
    transform: translateY(-50%);

}
.header__navbar-icon {
    font-size:1.8rem;
    margin: 2px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.4s ;

}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    top : -16px;
    left: 0;
    content: "";
    display: block;
 
}

.header__qr-img {
    width: 100%;

}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:last-child{
    margin-right: 11px;
}
.header__qr-download-img{
    height: 16px;
}

/* header notifycation */

.header__notify{
    position: absolute;
    top: 110%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top ;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width :  20px 30px;
    border-style:  solid ;
    border-color:  transparent transparent var(--white-color) transparent ;
    position: absolute;
    right: 12px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 90px;
    top: -15px;
    height: 20px;
   
}

.header__navbar-item--has--notify:hover .header__notify{
    display: block;
}

@keyframes headerNotifyGrowth{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px ;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin:  0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f5d4d4;
}

.header__notify-item--viewed{  
    background-color: rgba(238, 77, 45, 0.08);  
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.header__notify-desriotion{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 16px 26px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
}

/* Authen modal */

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px ;
    font-size: 1.4rem;
    border: 1px solid var(--border-color); 
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px ;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--while-color) ;
}

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 22px;
    border-left: 1px solid var(--border-color);
    margin: -2px 16px ;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;
    color: var(--white-color);
}

.header__search{
    height: 40px;
    flex:1;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__search-input{
    flex :1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 8px;
    border-radius: 3px;
}

.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.4rem;
    color: #999393;
    margin: 0 16px 0 8px ;
    position: relative;
    top: 1;
    left: 8;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover{
    background-color: #f16659;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0px 2px 3px rgb(126, 105, 105);
    padding-left: 0;
    border-radius:  3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: none;
    top: -10px;
    left: 0;

}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px 8px 18px;
    border-radius:  3px;
}

.header__search-option-item:hover{
    background-color: rgb(247, 242, 242);
    cursor: pointer;
}

.header__search-option span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-select:hover .header__search-option{
    display: block;
}